@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 70px;
  background-color: #252831;
  text-align:center;
}
nav h1 {
  margin: auto;
  padding-top: 20px; /*rlf */
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}
#breadcrumb {
    padding: 10px 10px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: auto;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map {
  height: 400px;
  width: 100%;
  background-color: #ccc;
}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  text-align: center;
}
.filter-options h2 {
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;
  padding-top: 10px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 40px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 75%;
}

/* ====================== Restaurant Listing ====================== */

#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
#restaurants-list li {
  background-color: #fff;
  border: 2px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 15px;
  min-height: 380px;
  padding: 0 30px 25px;
  text-align: left;
  width: 270px;
}
#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  max-width: 100%;
  min-width: 100%;
  margin-top: 20px;
}
#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  margin: 20px 0 10px;
  text-transform: uppercase;
}
#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}
#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 15px 0 0;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/* ====================== Restaurant Details ====================== */
.inside header {
  top: 0;
  width: 100%;
  z-index: 1000; 
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  position: relative;
}

#restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  margin: 15px 0 30px;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
	width: 100%;
}

#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  width: auto;
  padding: 10px;
}

#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 20px;
}

#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  color: #666;
}


/* Media Queries for main index.html */
/* Mobile */
@media screen and (max-width: 350px){
  body > header > nav > h1 > a {
    font-size: 14px;
    letter-spacing: 5px;
    font-weight: bold;
  }

  #restaurants-list {
    padding: 0;
  }

  #restaurants-list li {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 351px) and (max-width: 649px){ 
  body > header > nav > h1 > a {
    font-size: 16px;
    letter-spacing: 10px;
    font-weight: bold;
  }

  #restaurants-list {
    padding: 0;
  }

  #restaurants-list li {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 385px) {
  body > header > nav > h1 > a {
    font-size: 14pt;
    letter-spacing: 5px;
    font-weight: bold;
  }
}

@media screen and (min-width: 650px){ 
  #restaurants-list {
    padding: 0;
    display: flex;
    flex-wrap:wrap;
  }

  #restaurants-list li {
    margin: 0;
    width: 200px;
    flex-grow: 1;
  }

  .rest-addr {
    height: 3.25em;
  }
  
  li > h1 {
    height: 2em;
  }

  .filter-options select {
    width: 30%;
  }
}

@media screen and (min-width: 900px){ 
  body {
    width: 900px;
    margin: 0 auto;
  }
  #restaurants-list {
    padding: 0;
    display: flex;
    flex-wrap:wrap;
  }

  #restaurants-list li {
    width: 200px;
  }

  .filter-options select {
    width: 30%;
  }
}

/* Media Queries for restaurant.html */
@media screen and (max-width: 799px){

  .inside #map-container {
    height: 400px;
  }
  #reviews-container > h2 {
    text-align: center;
  }
  #restaurant-hours {
    margin: auto;
  }
  #restaurant-hours td {
    width: 150px;
  }
  #restaurant-address {
    text-align: center;
  }

  #restaurant-container > #restaurant-name {
    text-align: center;
  }
}

@media screen and (min-width: 800px){ 

  .inside #maincontent {
    display: flex;
    flex-wrap: wrap;
  }

  .inside #restaurant-container, .inside #map-container {
      width: 45%;
      flex-grow: 1;
  }

  .inside #map-container {
    height: 650px;
  }

  .inside #reviews-container {
    width: 100%
  }

  #restaurant-container {
    padding: 0 10px;
  }

  #restaurant-container > h1 {
    margin: 7px 0;
  }
}